<%- include('../Includes/begin.ejs') %>

    <div class="App">
        <%- include('../Includes/nav.ejs') %>

            <main class="main">

                <%- include('../Includes/header.ejs') %>
                <%- include("../Wizards/departments"); %>

                <div class="main-content">
                    <div class="container-lg">
                        <div class="row">

                            <% 
                                var reports=[{ 
                                    name: 'Departments list', 
                                    modal: 'department_report_list', 
                                    app: 'Departments' 
                                }];

                                if(user.role=='employee' ) { reports[0].name='My attendances' } 
                            %>
                            
                            <%- 
                                barCreate({ 
                                    appName,  
                                    create: true,
                                    meta, 
                                    reports 
                                }) 
                            %>


                            <div class="col-12">
                                <div class="bg-white p-3 shadow-default rounded table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th><input type="checkbox" name="" id=""></th>
                                            <th>#</th>
                                            <th>Code</th>
                                            <th>Department name</th>
                                            <th>Manager</th>
                                            <th>Employees</th>
                                        </tr>
                                        <tbody class="table-body-striped">
                                            <% for( let department of data) { %>
                                                <tr onclick="window.location.href='/departments/view/<%= department.dep_id %>'">
                                                    <td><input type="checkbox"></td>
                                                    <td><%= department.dep_id%></td>
                                                    <td><%= department.dep_code %></td>
                                                    <td><%= department.dep_name %></td>
                                                    <td><%= department.emp_name %></td>
                                                    <td>
                                                        <span class="badge bg-primary rounded-pill">
                                                            <%= department.dep_emp %>
                                                        </span>
                                                    </td>
                                                    
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </main>

    </div>

    <%- include('../Includes/end.ejs') %>