<%- include('../Includes/begin.ejs') %>

<div class="App">
    <%- include('../Includes/nav.ejs') %>

    <main class="main">

        <%- include('../Includes/header.ejs') %>

        <div class="main-content">
            <div class="container">
                <div class="row">

                    <!-- <%- barCreate({ appName, appRootLocation }) %> -->

                    <div class="col-12">
                        <div class="bg-white  rounded shadow-default p-3">
                            <h5 class='text-secondary  text-raleway'>
                                <a href='/dashboard'><i class='fa fa-home'></i></a> /
                                <a href='/departments'>Departments</a> /
                                <%= data.name %>
                            </h5>
                        </div>
                    </div>


                    <div class='container'>

                        <form class="mt-3 p-3 bg-white rounded shadow-default user-form">
                            <div class="row">

                                <div class="col-12">
                                    <div class="d-flex user-stats">
                                        <div class="stat-button d-flex align-item-center">
                                            <i class="fa fa-users stat-icon"></i>
                                            <div class="stat-info">
                                                <span class="badge bg-secondary d-inline-block">1</span>
                                                <span class="d-block">Followers</span>
                                            </div>
                                        </div>
                                        <div class="stat-button d-flex align-item-center">
                                            <i class="fa fa-heart stat-icon"></i>
                                            <div class="stat-info">
                                                <span class="badge bg-secondary d-inline-block">1</span>
                                                <span class="d-block">Likes</span>
                                            </div>
                                        </div>
                                        <div class="stat-button d-flex align-item-center px-2">
                                            <i class="fa fa-blog stat-icon"></i>
                                            <div class="stat-info">
                                                <span class="stat_value badge bg-secondary d-inline-block">1</span>
                                                <span class="d-block">Blog posts</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="input-group border  w-100 mt-2 bg-white">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" placeholder="Names" required
                                                    value="<%= data.name %>" disabled />
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="input-group border w-100 mt-2 bg-white">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fa fa-at"></i>
                                                </span>
                                                <input type="email" placeholder="Email" required
                                                    value="<%= data.email %>" disabled />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="input-group border w-100 mt-3 bg-white">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fa fa-th"></i>
                                                </span>
                                                <input type="text" placeholder="Title" required
                                                    value="<%=data.job_title %>" disabled />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<script>
    const $button = document.querySelector('#sidebar-toggle');
    const $wrapper = document.querySelector('#wrapper');

    $button.addEventListener('click', (e) => {
        e.preventDefault();
        $wrapper.classList.toggle('toggled');
    });

    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#departmentTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>

<%- include('../Includes/end.ejs') %>