<%- include('../Includes/begin.ejs') %>

<div class="App">
    <%- include('../Includes/nav.ejs') %>

    <main class="main">

        <%- include('../Includes/header.ejs') %>

        <div class="main-content">
            <div class="container-lg">
                <div class="row">

                    <div class='container'>

                        <form class="user-form" action="/api/departments/?action=update" method="POST">
                            <div class="row">

                                <div class="col-12">
                                    <div class="bg-white  rounded shadow-default p-3">
                                        <h5 class='text-secondary  text-raleway'>
                                            <a href='/dashboard'><i class='fa fa-home'></i></a> /
                                            <a href='/departments'>Departments</a> /
                                            <%= data.name %>
                                        </h5>

                                        <div class='border-top pt-3'>
                                            <button type="submit" class='btn bg-primary d-none' style='margin-right:7px'>Save</button>
                                            <button type="button" class='btn bg-primary' style='margin-right:7px'>Modify</button>
                                            <a href='/departments' class='btn bg-gray ml-4 d-none'>Cancel</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mt-3 p-3 bg-white rounded shadow-default">
                                        <div class="d-flex user-stats">
                                            <a href="/employees/?dp=<%= data.id %>" class="stat-button d-flex align-item-center text-secondary">
                                                <i class="fa fa-users stat-icon"></i>
                                                <div class="stat-info">
                                                    <span class="d-block mt-2">Employees</span>
                                                </div>
                                            </a>
                                        </div>
                                    
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <div class="mt-1">
                                                    <label for="name">Department name</label>                                         
                                                    <div class="input-group border  w-100 mt-2 bg-white">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-building"></i>
                                                        </span>
                                                        <input type="text" name="name" placeholder="Names" required value="<%= data.name %>" disabled id="name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <div class="mt-1">
                                                    <label for="parent_dep">Parent department</label>
                                                    <div class="input-group border w-100 mt-2 bg-white">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-building"></i>
                                                        </span>
                                                        <input type="email"  placeholder="Parent department"  value="<%= data.email %>" disabled id="parent_dep"/>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        
                                            <div class="col-md-6 col-sm-6 col-12">
                                                <div class="mt-1">
                                                    <label for="manager">Department's manager</label>
                                                    <div class="input-group border w-100 mt-2 bg-white">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <input type="text" name="manager_id" placeholder="Department's manager"  value="<%=data.job_title %>" disabled id="manager"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-12">
                                                <div class="mt-1">
                                                    <label for="code">Code</label>
                                                    <div class="input-group border w-100 mt-2 bg-white">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-key"></i>
                                                        </span>
                                                        <input type="text" name="code" placeholder="Code" required value="<%=data.code %>" disabled id="code" />
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<script>
    const $button = document.querySelector('#sidebar-toggle');
    const $wrapper = document.querySelector('#wrapper');

    $button.addEventListener('click', (e) => {
        e.preventDefault();
        $wrapper.classList.toggle('toggled');
    });

    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#departmentTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>

<%- include('../Includes/end.ejs') %>