

<%- include('../Includes/begin.ejs') %>

    <div class="App">
        <%- include('../Includes/nav.ejs') %>

            <main class="main">
                <%- include('../Includes/header.ejs') %>


                    <div class="main-content">

                        <div class="container">

                            <div class="row">

                                <div class='container'>

                                    <form class="user-form" action="/api/employees/?action=update" method="post">

                                        <div class="bg-white  rounded shadow-default p-3">
                                            <h5 class='text-secondary  text-raleway'>
                                                <a href='/dashboard'><i class='fa fa-home'></i></a> /
                                                <a href='/employees'>Employees</a> / <%= data.name %>
                                            </h5>

                                            <% if(user.role == 'admin' ) { %>
                                                <div class='border-top pt-3'>
                                                    <button type="submit" class='btn bg-primary d-none' style='margin-right:7px'>Save</button>
                                                    <button type="button" class='btn bg-primary' style='margin-right:7px'>Modify</button>
                                                
                                                    <a href='/employees' class='btn bg-gray ml-4 d-none'>Cancel</a>
                                                </div>
                                            <% } %>

                                        </div>

                                        <div class="mt-3 p-3  bg-white rounded shadow-default">
                                            <div class="row ">

                                                <div class="col-12">
                                                    <div class="d-flex user-stats">
                                                
                                                        <div class="stat-button d-flex align-item-center">
                                                            <% if(data.present) { %>
                                                                <i class="fa fa-circle stat-icon text-success"></i>
                                                            <% } else { %>
                                                                <i class="fa fa-circle stat-icon text-danger"></i>
                                                            <% } %>
                                                            <div class="stat-info pt-2">
                                                                <span class="d-block">Absent</span>
                                                            </div>
                                                        </div>
                                                
                                                        <a class="stat-button d-flex align-item-center px-2 text-secondary" href="/attendances/?eq=<%=data.id%>">
                                                            <i class="fa fa-list stat-icon"></i>
                                                            <div class="stat-info">
                                                                <!-- 
                                                                    <span class="stat_value badge bg-secondary d-inline-block">1</span> 
                                                                -->
                                                                <span class="d-block mt-2">Attendances</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                                <% if(error !=null ) { %>
                                                    <div class="col-12">
                                                        <div class="alert alert-danger w-100 p-1 px-2">
                                                            <p>
                                                                <%= error %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                <% } %>

                                                <div class="col-lg-2">
                                                    <div class="user-profile bg-white p-2 rounded">
                                                        <div class="image">
                                                            <img src="/src/author.jpg" alt=""
                                                                style="height:120px;width:100%"
                                                                class='img-fluid rounded' />
                                                            <input type="file" hidden id='user-profile'
                                                                name="image" />
                                                                <input type="hidden" name="id" value="<%=data.id%>">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="name">Employee complete name</label>
                                                            <div
                                                                class="input-group border  w-100 mt-2 bg-white">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                                <input type="text" placeholder="Employee Names"
                                                                    value="<%=data.name %>" disabled id="name" name="name"/>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 col-12">
                                                            <label for="email">Email address</label>
                                                            <div class="input-group border w-100 mt-2 bg-white">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-at"></i>
                                                                </span>
                                                                <input type="email" 
                                                                    value="<%=data.email %>" disabled id="email" name="email" required id="email"/>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 col-12">
                                                            <label for="job_title">Job Title</label>
                                                            <div class="input-group border w-100 mt-2 bg-white">
                                                                <span class="input-group-text">
                                                                    <i class="fa fa-th"></i>
                                                                </span>
                                                                <input type="text" 
                                                                    value="<%=data.job_title %>" disabled name="job_title" id="job_title" required/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="p-2 bg-white border-top mt-3">

                                                        <ul class="nav nav-tabs" id="userTab" role="tablist">
                                                            <li class="nav-item" role="presentation">
                                                                <a class="nav-link text-secondary text-raleway active"
                                                                    data-bs-toggle="tab" data-bs-target="#info"
                                                                    href='#info'>
                                                                    Public information
                                                                </a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link text-secondary text-raleway"
                                                                    data-bs-toggle="tab"
                                                                    data-bs-target="#u_history"
                                                                    href='#u_attendances'>
                                                                    Private information
                                                                </a>
                                                            </li>
                                                            <!-- <li class="nav-item">
                                                    <a class="nav-link text-secondary text-raleway"
                                                        data-bs-toggle="tab" data-bs-target="#u_plans"
                                                        href='#u_contracts'>
                                                        Contracts
                                                    </a>
                                                </li> -->
                                                        </ul>

                                                        <div class="tab-content p-2" id="userTabContent">
                                                            <div class="tab-pane show active" id="info"
                                                                role="tabpanel">
                                                                <div class="row">

                                                                    <div class="col-md-6 col-12">
                                                                        <div class="w-100">
                                                                            <label for="mobile_phone">Mobile phone number</label>
                                                                                
                                                                            <div
                                                                                class="input-group border  w-100 mt-2 bg-white">
                                                                                <span class="input-group-text">
                                                                                    <i class="fa fa-phone"></i>
                                                                                </span>
                                                                                <input type="number"
                                                                                    value="<%=data.mobile_phone %>" disabled
                                                                                    name="mobile_phone" id="mobile_phone" required/>
                                                                            </div>
                                                                        </div>

                                                                        <div class="w-100">
                                                                            <label for="">Gender</label>
                                                                            <div
                                                                                class="input-group border  w-100 mt-2 bg-white">
                                                                                <span class="input-group-text">
                                                                                    <i class="fa fa-male"></i>
                                                                                </span>
                                                                                <select required name="gender"
                                                                                    class="w-100" disabled>
                                                                                    <option value="male" selected="<%=data.gender%>">Male
                                                                                    </option>
                                                                                    <option value="female">
                                                                                        Female</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="w-100 mt-3">
                                                                            <h6>Human resources</h6>

                                                                            <div class="w-100">
                                                                                <label for="">Department
                                                                                    name</label>
                                                                                <div
                                                                                    class="input-group border  w-100 mt-2 bg-white">
                                                                                    <input type="hidden"
                                                                                        name="department_id" value="<%=data.department_id %>">
                                                                                    <span class="input-group-text">
                                                                                        <i class="fa fa-building"></i>
                                                                                    </span>
                                                                                    <input type="text"
                                                                                        placeholder="Department"
                                                                                        required
                                                                                        disabled 
                                                                                        value="<%=data.dep_name%>"
                                                                                        class="inputSelect"
                                                                                        data-route="departments"
                                                                                         
                                                                                    />
                                                                                    <ul
                                                                                        class="inputSelectList position-absolute bg-white shadow-default w-100">
                                                                                    </ul>
                                                                                </div>
                                                                            </div>

                                                                            <div class="w-100">
                                                                                <label for="">Supervisor
                                                                                    name</label>
                                                                                <div
                                                                                    class="input-group border  w-100 mt-2 bg-white">
                                                                                    <input type="hidden"
                                                                                        name="supervisor_id">
                                                                                    <span class="input-group-text">
                                                                                        <i class="fa fa-user"></i>
                                                                                    </span>
                                                                                    <input 
                                                                                        type="text"
                                                                                        placeholder="Supervisor"
                                                                                        required 
                                                                                        class="inputSelect"
                                                                                        data-route="employees"
                                                                                        value="<%=data.supervisor_name%>"
                                                                                        disabled
                                                                                    />
                                                                                    <ul
                                                                                        class="inputSelectList position-absolute bg-white shadow-default w-100">
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                    </div>


                                                                    <div class="col-md-6 col-12">
                                                                        <h5>Citizenship</h5>

                                                                        <div
                                                                            class="d-flex justify-content-between">
                                                                            <div class="w-100 w-lg-50">
                                                                                <label for="">State</label>
                                                                                <div
                                                                                    class="input-group border w-100 mt-2 bg-white">
                                                                                    <span
                                                                                        class="input-group-text">
                                                                                        <i
                                                                                            class="fa fa-globe"></i>
                                                                                    </span>
                                                                                    <input 
                                                                                        type="text"
                                                                                        placeholder="Country state"
                                                                                        required 
                                                                                        
                                                                                        value="<%=data.state%>"
                                                                                        disabled
                                                                                        name="state" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="w-100 w-lg-50">
                                                                                <label for="">City or town</label>
                                                                                    
                                                                                <div
                                                                                    class="input-group border w-100 mt-2 bg-white">
                                                                                    <span  class="input-group-text">
                                                                                        <i class=" fa fa-globe"></i>
                                                                                    </span>
                                                                                    <input 
                                                                                        type="text"
                                                                                        placeholder="City or town"
                                                                                        required
                                                                                        value="<%=data.city%>"
                                                                                        disabled
                                                                                        name="city" 
                                                                                    />
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="w-100">
                                                                            <label for="">Street address</label>
                                                                            <div
                                                                                class="input-group border w-100 mt-2 bg-white">
                                                                                <span class="input-group-text">
                                                                                    <i class="fa fa-map"></i>
                                                                                </span>
                                                                                <input type="text"
                                                                                    placeholder="Address"
                                                                                    required
                                                                                    value="<%=data.street%>"
                                                                                        disabled
                                                                                    name="street" />
                                                                            </div>
                                                                        </div>


                                                                        <div class="w-100">
                                                                            <label for="">Nationality
                                                                                (Country)</label>
                                                                            <div
                                                                                class="input-group border w-100 mt-2 bg-white">
                                                                                <input type="hidden"
                                                                                    name="country_id"
                                                                                    type="number">
                                                                                <i class="input-group-text">
                                                                                    <i class="fa fa-flag"></i>
                                                                                </i>
                                                                                <input 
                                                                                    type="text"
                                                                                    class="inputSelect"
                                                                                    data-route="countries"
                                                                                    value="<%=data.country_name%>"
                                                                                    disabled
                                                                                    placeholder="Country name">
                                                                                <ul class="inputSelectList">
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                </div>
                                                            </div>

                                                                    <!-- <div class="tab-pane" id="u_plans" role="tabpanel">
                                                            <h5>My Contracts</h5>
                                                            <table class='table border'>
                                                                <thead>
                                                                    <tr>
                                                                        <th><input type="checkbox" name="" id="" /></th>
                                                                        <th>#code</th>
                                                                        <th>Salary</th>
                                                                        <th>Start date</th>
                                                                        <th>Expire date</th>
                                                                        <th>Type</th>
                                                                        <th>State</th>
                                                                        <th class='text-right'>Auto renew</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody class='table-body-striped'>
                                                                    <tr>
                                                                        <td><input type="checkbox" name="" id="" /></td>
                                                                        <td>OH564</td>
                                                                        <td>$ 50</td>
                                                                        <td>20.12.2022</td>
                                                                        <td>20.12.2023</td>
                                                                        <td><span
                                                                                class='badge bg-success rounded-pill'>Active</span>
                                                                        </td>
                                                                        <td>True</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div> -->
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>

                    </div>

            </main>

    </div>
    <%- include('../Includes/end.ejs') %>