<%- include('../Includes/begin.ejs') %>

    <div class="App">
        <%- include('../Includes/nav.ejs') %>

            <main class="main">

                <%- include('../Includes/header.ejs') %>

                    <div class="main-content">
                        <div class="container-lg">
                            <div class="row">

                                <%- barCreate({ appName, create:true, meta }) %>

                                    <div class="col-12">
                                        <div class="bg-white p-3 shadow-default rounded">
                                            <div class="row">
                                                <% for( let user of data) { %>
                                                    <a href='/users/view/<%= user.id %>'
                                                        class="col-lg-4 col-md-6 col-12 text-secondary mb-2">
                                                        <div
                                                            class='bg-white  p-3 d-flex user-card rounded justify-content-between'>
                                                            <div>
                                                                <h6>
                                                                    <%= user.name %>
                                                                </h6>
                                                               
                                                                <small>
                                                                    <i class="fa fa-envelope"></i>
                                                                    <%= user.email %>
                                                                </small>
                                                                <small>
                                                                   
                                                                    <%= user.lang %> | <%= user.time_zone %>
                                                                </small>
                                                            </div>
                                                            <div>
                                                                <img src="/src/image_add.png" alt="fd"
                                                                    class='img-fluid rounded ' />
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
            </main>

    </div>

    <%- include('../Includes/end.ejs') %>