<%- include('../Includes/begin.ejs') %>

    <div class="App">
        <%- include('../Includes/nav.ejs') %>

            <main class="main">

                <%- include('../Includes/header.ejs') %>

                <%- include('../Modals/changePasswordModal.ejs') %>

                <div class="main-content">
                    <div class="container-lg">
                        <div class="row">

                           
                            <div class='container'>


                                <form class="user-form" action="/api/users/?action=update" method="post">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="bg-white  rounded shadow-default p-3">
                                                <h5 class='text-secondary  text-raleway'>
                                                    <a href='/dashboard'><i class='fa fa-home'></i></a> /
                                                    <a href='/users'>Users</a> /
                                                    <%= data.name %>
                                                </h5>
                                                <% if(user.role=='admin' ) { %>
                                                    <div class='border-top pt-3'>
                                                        <button type="submit" class='btn bg-primary d-none' style='margin-right:7px'>Save</button>
                                                        <button type="button" class='btn bg-primary' style='margin-right:7px'>Modify</button>
                                                
                                                        <a href='/users' class='btn bg-gray ml-4 d-none'>Cancel</a>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>



                                        <div class="col-12">
                                            <div class="mt-3 p-3 bg-white rounded shadow-default">
                                                <div class="d-flex user-stats">

                                                    <a href="/reset" class="text-secondary stat-button d-flex align-item-center px-2">
                                                        <i class="fa fa-lock-open stat-icon"></i>
                                                        <div class="stat-info pt-2">
                                                            <span class="d-block">Reset password</span>
                                                        </div>
                                                    </a>
                                                    
                                                    <div 
                                                        class="stat-button d-flex align-item-center px-2" 
                                                        role="button" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#changePasswordModal">

                                                        <i class="fa fa-key stat-icon"></i>
                                                        <div class="stat-info pt-2">
                                                            <span class="d-block">Change password</span>
                                                        </div>
                                                    </div>

                                                    <% if(data.is_employee && data.employee_id ) { %>
                                                        <a href="/employees/view/<%=data.employee_id %>" class="stat-button d-flex align-item-center px-2 text-secondary">
                                                            <i class="fa fa-users stat-icon"></i>
                                                            <div class="stat-info">
                                                                <span
                                                                    class="stat_value badge bg-secondary d-inline-block">1</span>
                                                                <span class="d-block">Employee</span>
                                                            </div>
                                                        </a>
                                                    <%  } %>

                                                    


                                                </div>
                                            
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="user-profile bg-white p-2 rounded border">
                                                            <div class="image">
                                                                <div class="fileUploader">
                                                                    <img src="/src/image_add.png" alt="" style="height:120px;width:100%" class='img-fluid rounded' />
                                                                </div>
                                                                
                                                                <input type="file" hidden disabled id='user-profile' />
                                                                <input type="hidden" hidden name="image" />
                                                                <input type="hidden" name="id" value="<%=data.id%>">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="input-group border  w-100 mt-2 bg-white">
                                                                    <span class="input-group-text" id="basic-addon1">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                                    <input type="text" placeholder="Names" required value="<%= data.name %>" disabled name="name"/>
                                                                </div>
                                                            </div>
                                                    
                                                            <div class="col-12">
                                                                <div class="input-group border w-100 mt-2 bg-white">
                                                                    <span class="input-group-text" id="basic-addon1">
                                                                        <i class="fa fa-at"></i>
                                                                    </span>
                                                                    <input type="email" placeholder="Email" required value="<%= data.email %>" disabled name="email"/>
                                                                </div>
                                                            </div>
                                                    
                                                            <div class="col-12">
                                                                <div class="input-group border w-100 mt-2 bg-white">
                                                                    <span class="input-group-text" id="basic-addon1">
                                                                        <i class="fa fa-at"></i>
                                                                    </span>
                                                                    <input type="text" placeholder="Login" required value="<%= data.login %>" disabled name="login"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="p-2 bg-white">
                                                    
                                                            <ul class="nav nav-tabs" id="userTab" role="tablist">
                                                                <li class="nav-item" role="presentation">
                                                                    <a class="nav-link text-secondary text-raleway active" data-bs-toggle="tab" data-bs-target="#info"
                                                                        href='#info'>
                                                                        Access rights
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a class="nav-link text-secondary text-raleway" data-bs-toggle="tab" data-bs-target="#u_pre"
                                                                        href='#u_pre'>
                                                                        Preferences
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                    
                                                            <div class="tab-content p-2" id="userTabContent">
                                                                <div class="tab-pane show active" id="info" role="tabpanel">
                                                                    <div class="row">
                                                    
                                                                        <div class="col-md-6 col-12">
                                                                            <label for="role">Role</label>
                                                                            <div class="input-group border w-100 mt-2 bg-white">
                                                                                <span class="input-group-text" id="basic-addon1">
                                                    
                                                                                    <i class="fa fa-poll-h"></i>
                                                                                </span>
                                                                                <select required class="w-100" id="role" disabled name="roles">
                                                  
                                                                                    <option disabled>Select role</option>
                                                                                    <option value="admin">Administrator</option>
                                                                                    <option value="admin">User</option>
                                                                                    <option value="admin">Employee</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                    
                                                                    </div>
                                                                </div>
                                                    
                                                                <div class="tab-pane" id="u_pre" role="tabpanel">
                                                                    <h5>Localization</h5>
                                                                    <div class="row">
                                                    
                                                                        <div class="col-md-6 col-12">
                                                                            <label for="lang">Language</label>
                                                                            <div class="input-group border w-100 mt-2 bg-white">
                                                                                <span class="input-group-text" id="basic-addon1">
                                                    
                                                                                    <i class="fa fa-poll-h"></i>
                                                                                </span>
                                                                                <select required class="w-100" id="lang" name="lang">
                                                    
                                                                                    <option disabled>Select Language</option>
                                                                                    <option value="en_US">English</option>
                                                                                    <option value="fr_FR">Francais</option>
                                                    
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                    
                                                                        <div class="col-md-6 col-12">
                                                                            <label for="zone">Time zone</label>
                                                                            <div class="input-group border w-100 mt-2 bg-white">
                                                                                <span class="input-group-text" id="basic-addon1">
                                                    
                                                                                    <i class="fa fa-poll-h"></i>
                                                                                </span>
                                                                                <select required class="w-100" id="zone">
                                                    
                                                                                    <option disabled>Select time zone</option>
                                                                                    <option value="en_US">English</option>
                                                                                    <option value="fr_FR">Francais</option>
                                                    
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                    
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </main>

    </div>

    <%- include('../Includes/end.ejs') %>